<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <CASPERNETSDK_NODE_ADDRESS>http://3.136.227.9:7777/rpc</CASPERNETSDK_NODE_ADDRESS>
            <CASPERNETSDK_ACCOUNTHASH>account-hash-21e8cee83ced9ff174357dc5d9b797f259994354993f01e18db49cda2a7700b3</CASPERNETSDK_ACCOUNTHASH>
            <CASPERNETSDK_ACCPUBLICKEY>010773986d23a067b158f7c4587be0d01c5664c1c54be34890ec3eb018cb14d177</CASPERNETSDK_ACCPUBLICKEY>
            <CASPERNETSDK_NODE_METRICS_ADDRESS>http://3.136.227.9:8888/metrics</CASPERNETSDK_NODE_METRICS_ADDRESS>
            <CASPERNETSDK_NODE_METRICS_IP>3.136.227.9</CASPERNETSDK_NODE_METRICS_IP>
            <CASPERNETSDK_NODE_METRICS_PORT>8888</CASPERNETSDK_NODE_METRICS_PORT>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>

