<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <CASPERNETSDK_NODE_ADDRESS>http://127.0.0.1:11101/rpc</CASPERNETSDK_NODE_ADDRESS>
            <CASPERNETSDK_NODE_METRICS_IP>127.0.0.1</CASPERNETSDK_NODE_METRICS_IP>
            <CASPERNETSDK_NODE_METRICS_PORT>14101</CASPERNETSDK_NODE_METRICS_PORT>
            <CASPERNETSDK_NODE_SSE_IP>127.0.0.1</CASPERNETSDK_NODE_SSE_IP>
            <CASPERNETSDK_NODE_SSE_PORT>18101</CASPERNETSDK_NODE_SSE_PORT>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>

