name: Build and Test

on:
  push:
    branches: [ master, netstandard-2-0-target ]
  pull_request:
    branches: [ master ]

jobs:
  buildntest:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - name: net7.0
            framework: net7.0
          - name: netstandard2.0
            framework: netstandard2.0         
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: TEST_FRAMEWORK ${{ matrix.framework }} dotnet test --no-build --verbosity normal --filter "TestCategory!~NCTL"
