name: Publish to GitHub registry

on:
  workflow_dispatch:

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Create nuget package
      run: dotnet pack --configuration Release -o out
    - name: Publish Nuget to GitHub registry
      run: dotnet nuget push ./out/*.nupkg -k ${GITHUBPUBLISH_TOKEN} -s https://nuget.pkg.github.com/make-software/index.json --skip-duplicate --no-symbols true
      env:
        GITHUBPUBLISH_TOKEN: ${{ secrets.GITHUBPUBLISH_TOKEN }}
